<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	      version="2.5">
	      <display-name>Archetype Created Web Application</display-name>
	      <welcome-file-list>
	      <welcome-file>d3.jsp</welcome-file>
	      </welcome-file-list>
   <servlet>
  	<servlet-name>D3servlet</servlet-name>
  	<servlet-class>com.controller.D3servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>D3servlet</servlet-name>
  	<url-pattern>/D3servlet</url-pattern>
  </servlet-mapping>
</web-app>


